@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: 'Roboto', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --font-serif: 'Lora', serif;
  --radius: 0.25rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

@layer utilities {
  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .animate-spin-slow-1 {
    animation: spin-slow 30s linear infinite;
  }

    .animate-spin-slow-2 {
    animation: spin-slow 60s linear infinite;
  }

    .animate-spin-slow-3 {
    animation: spin-slow 90s linear infinite;
  }

    .animate-spin-slow-4 {
    animation: spin-slow 120s linear infinite;
  }

    .animate-spin-slow-5 {
    animation: spin-slow 150s linear infinite;
  }

    .animate-spin-slow-6 {
    animation: spin-slow 180s linear infinite;
  }

    .animate-spin-slow-reverse-1 {
    animation: spin-slow 30s linear infinite reverse;
  }

    .animate-spin-slow-reverse-2 {
    animation: spin-slow 60s linear infinite reverse;
  }

    .animate-spin-slow-reverse-3 {
    animation: spin-slow 90s linear infinite reverse;
  }

    .animate-spin-slow-reverse-4 {
    animation: spin-slow 120s linear infinite reverse;
  }

    .animate-spin-slow-reverse-5 {
    animation: spin-slow 150s linear infinite reverse;
  }

    .animate-spin-slow-reverse-6 {
    animation: spin-slow 180s linear infinite reverse;
  }
}

:root {
  --radius: 0.25rem;
  --background: oklch(0.4030 0.0377 195.7577);
  --foreground: oklch(0.9877 0.0555 109.5623);
  --card: oklch(0.4030 0.0377 195.7577);
  --card-foreground: oklch(0.9877 0.0555 109.5623);
  --popover: oklch(0.4030 0.0377 195.7577);
  --popover-foreground: oklch(0.9877 0.0555 109.5623);
  --primary: oklch(0.6840 0.1440 154.9990);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7767 0.1098 168.8244);
  --secondary-foreground: oklch(0.4030 0.0377 195.7577);
  --muted: oklch(0.5880 0.0993 245.7394);
  --muted-foreground: oklch(0.9877 0.0555 109.5623);
  --accent: oklch(0.6840 0.1440 154.9990);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.6962 0.1955 32.3214);
  --border: oklch(0.5309 0.0946 138.5942);
  --input: oklch(0.5309 0.0946 138.5942);
  --ring: oklch(0.6840 0.1440 154.9990);
  --chart-1: oklch(0.5309 0.0946 138.5942);
  --chart-2: oklch(0.5995 0.1374 126.3225);
  --chart-3: oklch(0.7419 0.2286 142.8348);
  --chart-4: oklch(0.7509 0.0797 144.7300);
  --chart-5: oklch(0.5685 0.1187 154.9491);
  --sidebar: oklch(0.5309 0.0946 138.5942);
  --sidebar-foreground: oklch(0.9877 0.0555 109.5623);
  --sidebar-primary: oklch(0.6840 0.1440 154.9990);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.7767 0.1098 168.8244);
  --sidebar-accent-foreground: oklch(0.4030 0.0377 195.7577);
  --sidebar-border: oklch(0.5309 0.0946 138.5942);
  --sidebar-ring: oklch(0.6840 0.1440 154.9990);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: 'Roboto', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.2;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 8px 0px hsl(0 0% 0% / 0.10);
  --shadow-xs: 0px 2px 8px 0px hsl(0 0% 0% / 0.10);
  --shadow-sm: 0px 2px 8px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow: 0px 2px 8px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow-md: 0px 2px 8px 0px hsl(0 0% 0% / 0.20), 0px 2px 4px -1px hsl(0 0% 0% / 0.20);
  --shadow-lg: 0px 2px 8px 0px hsl(0 0% 0% / 0.20), 0px 4px 6px -1px hsl(0 0% 0% / 0.20);
  --shadow-xl: 0px 2px 8px 0px hsl(0 0% 0% / 0.20), 0px 8px 10px -1px hsl(0 0% 0% / 0.20);
  --shadow-2xl: 0px 2px 8px 0px hsl(0 0% 0% / 0.50);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2746 0.0226 200.5885);
  --foreground: oklch(0.9877 0.0555 109.5623);
  --card: oklch(0.2746 0.0226 200.5885);
  --card-foreground: oklch(0.9877 0.0555 109.5623);
  --popover: oklch(0.2746 0.0226 200.5885);
  --popover-foreground: oklch(0.9877 0.0555 109.5623);
  --primary: oklch(0.6840 0.1440 154.9990);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.4030 0.0377 195.7577);
  --secondary-foreground: oklch(0.9877 0.0555 109.5623);
  --muted: oklch(0.4428 0.0443 197.7848);
  --muted-foreground: oklch(0.9877 0.0555 109.5623);
  --accent: oklch(0.6840 0.1440 154.9990);
  --accent-foreground: oklch(1.0000 0 0);
  --destructive: oklch(0.5741 0.1095 21.0457);
  --border: oklch(0.4030 0.0377 195.7577);
  --input: oklch(0.4030 0.0377 195.7577);
  --ring: oklch(0.6840 0.1440 154.9990);
  --chart-1: oklch(0.5309 0.0946 138.5942);
  --chart-2: oklch(0.5995 0.1374 126.3225);
  --chart-3: oklch(0.7419 0.2286 142.8348);
  --chart-4: oklch(0.7509 0.0797 144.7300);
  --chart-5: oklch(0.5685 0.1187 154.9491);
  --sidebar: oklch(0.4030 0.0377 195.7577);
  --sidebar-foreground: oklch(0.9877 0.0555 109.5623);
  --sidebar-primary: oklch(0.6840 0.1440 154.9990);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.4428 0.0443 197.7848);
  --sidebar-accent-foreground: oklch(0.9877 0.0555 109.5623);
  --sidebar-border: oklch(0.4030 0.0377 195.7577);
  --sidebar-ring: oklch(0.6840 0.1440 154.9990);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.25rem;
  --font-sans: 'Roboto', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'JetBrains Mono', monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.4;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.20);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.20);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.40), 0px 2px 4px -1px hsl(0 0% 0% / 0.40);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.40), 0px 4px 6px -1px hsl(0 0% 0% / 0.40);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.40), 0px 8px 10px -1px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 1.00);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}